<section class="metricas">

  <h2>Temperatura Actual</h2>
  <div class="chart-container" *ngIf="temperaturaData.datasets[0].data.length">
    <canvas #temperaturaChart baseChart 
            [data]="temperaturaData" 
            [options]="chartOptions" 
            chartType="line">
    </canvas>
  </div>

  <h2>Consumo Actual</h2>
  <div class="chart-container" *ngIf="consumoData.datasets[0].data.length">
    <canvas #consumoChart baseChart 
            [data]="consumoData" 
            [options]="chartOptions" 
            chartType="bar">
    </canvas>
  </div>

  <h2>Consumo Energético</h2>
  <div class="chart-container" *ngIf="ahorroData.datasets[0].data.length">
    <canvas #ahorroChart baseChart 
            [data]="ahorroData" 
            [options]="chartOptions" 
            chartType="doughnut">
    </canvas>
  </div>

</section>
