/* src/app/usuario/usuario.css */

/* Contenedor para alinear el buscador y los botones */
.top-controls {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 10px; /* Espacio entre los elementos */
  margin-bottom: 20px;
}

.buscador {
  flex-grow: 1; /* Permite que el buscador ocupe el espacio disponible */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Estilos para los botones cuadrados */
.action-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.square-button {
  width: 50px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

/* Estilos para cada botón específico */
.add-button {
  background-color: #28a745;
  color: white;
}
.edit-button {
  background-color: #ffc107;
  color: #333;
}
.delete-button {
  background-color: #dc3545;
  color: white;
}

.square-button:hover {
  opacity: 0.8;
}

/* Resto de los estilos de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}