body {
    background-image: url(../img/background_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor {
    width: 92%;
    height: 1350px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-start;
    background-color: black;

}

.clima {
    width: 50%;
    height: 30%;
    border-radius: 10px;
    background-image: url(../img/clima.PNG);
    background-size: cover;
}

.medidor_escala {
    width: 50%;
    height: 40%;
    border-radius: 10px;
    background-color: azure;
}

.historial_temperatura {
    width: 50%;
    height: 45%;
    border-radius: 10px;
    background-image: url(../img/historial_temperatura.PNG);
    background-size: cover;
}

.historial_humedad {
    width: 50%;
    height: 45%;
    border-radius: 10px;
    background-image: url(../img/historial_humedad.PNG);
    background-size: cover;
}

.historial_consumo {
    width: 50%;
    height: 40%;
    border-radius: 10px;
    background-image: url(../img/historial_consumo.PNG);
    background-size: cover;
}

.ahorro {
    width: 50%;
    height: 40%;
    border-radius: 10px;
    background-image: url(maqueta/img/porcentaje_ahorro.PNG);
    background-size: cover;
}