/***/
main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #adedd2;
}

.error-tit{
    text-align: center;
    font-size: 5rem;
    background:rgba(255, 255, 255, 0.2);
}

