/*sirve para crear variales e incovar las variables en el archivo*/
:root{
    --color-50: #edfcf5 ;
    --color-100: #d4f7e6 ;
    --color-200: #adedd2 ;
    --color-300: #77deb8 ;
    --color-400: #40c79a ;
    --color-500: #1daf83 ;
    --color-600: #108b69 ;
    --color-700: #0d6f56 ;
    --color-800: #0d5845 ;
    --color-900: #0b493a ;
    --color-950: #052921 ;
}
/*modifica todo lo que no tenga un formato definido*/
*{
    margin: 0;
    border: 0px;
    padding: 0;
    font-family: "Montserrat";
    text-decoration: none;
}

/*aplicar color todo el header*/
header{
    width: 100%;
    padding: 0px;
    background:var(--color-800);
}
/* contenido de la barra */
header nav{
    display:flex;
}

header .logo img{ 
    margin-top: 12px;
    margin-left: 15px;
    height: 50px;
    width: auto;
}
/* texto */
header nav ul{
    display:flex;
    gap: 8px;
    /* este margin -right hace que los botones esten en la otra punta*/
    margin-right: auto;
}

/* esto es las opciones */
header nav ul li{
    padding: 8px;
    margin: 20px;
    gap: 10px;
    list-style-type: none;
}
/*color y modificaciones dentro del header liv a*/
header nav ul li a{
    color:white;
    font-weight: bold
}
/*config botones*/
header .login{
    display: flex;
    padding: 10px 10px;

    margin: 20px;
    
    border-radius: 5px;
    background-color: var(--color-200);
    color: var(--color-950);

    cursor: pointer;
    
}
header .singup{
    display: flex;
    padding: 10px 10px;
    
    margin: 20px;
    margin-left: -8px;

    border-radius: 5px;
    background-color: var(--color-500);
    color: var(--color-50);

    cursor: pointer;
}
/*termina nav bar*/

body .hero-section{
    /*padding: 150px;*/
    background-image: linear-gradient(rgb(29 175 131 / 34%)), url('../img/background-hero.jpg');
    background-size:cover;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body .titulo-gestion{
    background-color: var(--color-500);
    color: var(--color-100);
    padding: 2%;
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom: 35px;
    text-align: center;
}
body .bajo-titulo{
    color:var(--color-100);
    text-align: center;
    margin-left: 28%;
    margin-right: 28%;
}

.news{
    color: var(--color-950);
    background-color: var(--color-200);
    padding: 64px;
}
.news h2{
    font-size: 80px;
    color: var(--color-600);
}
.news ul{
    display:flex;
    gap: 32px;
    margin-right: auto;
}

.news ul li{
    padding: 24px;
    background-color:var(--color-300);
    list-style-type: none;
    border-radius: 12px;
}
.news ul li h3{
    font-size: 30px;
}
.news ul li img{
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

/*Desde aca todo empieza a ser provisorio hasta tener boostrap y js*/
.dashboard-preview{
    gap: 32px;
    margin-right: auto;
    background-color: var(--color-400);
}
.dashboard-preview h2{
    color: var(--color-100);
    text-align: center;
}
.dashboard-preview .medidor-escala{
    display:flex;
    justify-content: center;
    list-style-type: none;
    padding: 24px;
    
}
.dashboard-preview .medidor-escala li{
    background-color: var(--color-300);
    padding: 2%;
    border-radius: 15px;
    margin: 20px;

}

.dashboard-preview .lineales{
    gap: 34px;
    display:flex;
    justify-content: center;
    list-style-type: none;
    padding: 24px;
}
.dashboard-preview .lineales li{
    background-color: var(--color-300);
    padding: 2px;
    border-radius: 15px;
}
.dashboard-preview .lineales img{
    padding: 30px;
    width: 400px;
}



/*Esto sirve para todo lo que es movile, el max width es el maximo antes de cambiar de estilo*/
@media screen and (max-width: 768px) {
    body .news ul{
        flex-direction: column; 
    }
    /*acomodar para que cuando se pase a movile no tener problemas con desalineos*/
    .dashboard-preview .medidor-escala{
        margin: auto;
        flex-direction: column;
        justify-content: center;

    }

}