* {
    margin: 0;
    border: 0px;
    padding: 0;
    font-family: "Montserrat";
    text-decoration: none;
    font-size: 28px;
}

.cuerpo {
    background-image: url(../img/background_hero.jpg);
    opacity: 90%;
    background-size: cover;
}

.contenedor {
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    background-color: #0d6f56;

}

.metricas {
    width: 100%;
    height: auto;
}

.historial {
    max-width: 100%;
    width: 95%;
    height: auto;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    gap: 5px;

}

.historial h2 {
    text-align: center;
    margin: auto;
    width: 100%;
}

section div>img {
    width: 95%;
    height: auto;
    margin: auto;
    border: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border-radius: 10px;
}

@media (width > 1276px) {
    .historial_consumo {
        margin: auto;
        margin-left: 15px;
    }

    .historial_ahorro {
        margin: auto;
        margin-left: 20px;
    }
}