/* Estilos generales para pantallas de escritorio */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: var(--color-700);
  color: white;
  padding: 24px;
  transition: all 0.3s ease-in-out; /* Transición para un efecto de apertura suave */
}

.sidebar-header {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-50);
  margin-bottom: 1rem;
}

.sidebar-header h3 {
  margin: 0;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s;
}

li a:hover,
li a.active {
  background-color: var(--color-600);
}
