<section class="historial">

  <h2>Historial de Temperatura</h2>
  <div class="chart-container">
    <canvas #temperaturaChart baseChart 
            [data]="temperaturaData" 
            [options]="options" 
            chartType="line">
    </canvas>
  </div>

  <h2>Historial de Humedad</h2>
  <div class="chart-container">
    <canvas #humedadChart baseChart 
            [data]="humedadData" 
            [options]="options" 
            chartType="line">
    </canvas>
  </div>

  <h2>Consumo</h2>
  <div class="chart-container">
    <canvas #consumoChart baseChart 
            [data]="consumoData" 
            [options]="options" 
            chartType="bar">
    </canvas>
  </div>

  <h2>Consumo Energético (Ahorro)</h2>
  <div class="chart-container">
    <canvas #ahorroChart baseChart 
            [data]="ahorroData" 
            [options]="options" 
            chartType="doughnut">
    </canvas>
  </div>

</section>
