/* You can add global styles to this file, and also import other style files */
:root{
    --color-50: #edfcf5 ;
    --color-100: #d4f7e6 ;
    --color-200: #adedd2 ;
    --color-300: #77deb8 ;
    --color-400: #40c79a ;
    --color-500: #1daf83 ;
    --color-600: #108b69 ;
    --color-700: #0d6f56 ;
    --color-800: #0d5845 ;
    --color-900: #0b493a ;
    --color-950: #052921 ;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color:var(--color-800); /* Mueve esta línea aquí */
}
*{
    margin: 0;
    border: 0px;
    padding: 0;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
