.foot-personalizado {
    background-color: #1daf83;
    padding: 20px 0;
}

.foot-personalizado {
    background-color: #1daf83;
    padding: 20px 0;
}

.p-footer {
    font-size: 17px;
    font-weight: 600;
    margin: 4px 0;
}
.social-icons a {
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  transform: translateY(-5px);
  color: #0d6efd; /* azul bootstrap */
}

@media (max-width: 576px) {
  .social-icons a {
    font-size: 1.5rem;
  }
}

.foot-personalizado {
  font-size: 0.85rem;
  opacity: 0.8;
}
