<h2 mat-dialog-title>Registro de Central</h2>
<mat-dialog-content>
  <p>Por favor, ingrese los datos de la nueva central:</p>
  <mat-form-field appearance="fill">
    <mat-label>Nombre de la Central</mat-label>
    <input matInput [ngModel]="nombre()" (ngModelChange)="nombre.set($event)" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ubicación</mat-label>
    <input matInput [ngModel]="ubicacion()" (ngModelChange)="ubicacion.set($event)" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Empresa</mat-label>
    <input matInput [ngModel]="empresa()" (ngModelChange)="empresa.set($event)" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button
    mat-button
    [mat-dialog-close]="{
      nombre: nombre(),
      Ubicacion: ubicacion(),
      empresa: empresa()
    }"
    cdkFocusInitial
  >
    Guardar
  </button>
</mat-dialog-actions>
