.nav-personalizada {
    background-color: #1daf83;
}

.ul-personalizada {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.img-personalizada {
    padding: 0;
}

.navbar-nav .nav-link {
    text-align: left;
    font-weight: 600;
    font-size: x-large;
    padding: 12px 16px;
}

.navbar-nav .nav-link:hover {
    color: var(--color-100);
    transform: scale(1.05);

}

.text-end {
    position: absolute;
    right: 20px;
    margin: auto;
}

/* Botones Login y Registro */
.btn-login {
    background-color: var(--color-200);
    color: var(--color-950);
    font-weight: 600;
    margin-top: 7px;

    &:hover {
        background-color: var(--color-100);
        color: var(--color-950);
        transform: scale(1.05);
    }

}

.btn-registro {
    background-color: var(--color-600);
    color: var(--color-50);
    font-weight: 600;
    margin-top: 7px;

    &:hover {
        background-color: var(--color-700);
        color: var(--color-50);
        transform: scale(1.05);

    }
}

@media (max-width: 992px) {
    .text-end {
        position: static;
        margin: 10px auto;
    }
}