
.contenedor-registro {
  background-color: #1daf83;
  padding: 30px;
  border-radius: 5px 30px;
  border: solid 3px var(--color-600);
  padding: 5rem;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

input {
  height: 1.8rem;
  border: var(--color-600) 10px;
}

#registro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-grupo {
  display: flex;
  flex-direction: column;
}

#btn-registrar {
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

#btn-registrar:hover {
  cursor: pointer;
  background-color: #1daf83;
  transform: scale(1.1);
}

@media(max-width:768px) {
  .registro-tit {
  font-size: 2rem;
}

label {
  font-size: 1rem;
}

input {
  height: 1.8rem;
  font-size: 0.95rem;
}

.contenedor-registro {
  padding: 1.5rem;
 }

contenedor-registro {
 padding: 1.5rem;
}

.btn-registrar {
  font-size: 1rem;
 padding: 0.5rem 1rem;
 background-color: var(--color-600)
}
}

@media( max-width: 468px) {
registro-tit {
 font-size: 1.6rem;
}

label {
 font-size: 0.95rem;
}

.contenedor-registro {
padding: 1rem;
}
}

.btn-registro {
    background-color: var(--color-600);
    color: var(--color-50);
    font-weight: 600;
}

.btn-registro:hover {
    background-color: var(--color-700);
    color: var(--color-50);
}

.enlace-icono {
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.enlace-icono:hover {
  transform: scale(1.1);
}

.logo-inicio {
  width: 80px;
  height: auto;
}

.error{
  color: rgb(192, 13, 13);
}

/* Texto del mensaje de error */
.error {
  color: #e63946;
  font-size: 0.9rem;
  margin-top: 4px;
  text-align: left;
}